# do not include certain dirs
czlll/
Qwen/
SWE-bench/
embeddings/
index_data/
playground/
plots/
train_index/
trash/
saved_models/
Salesforce/
test_index/
datasets/

# do not include data files
*.log
*.log.*
*.json
log/
logs/
*.pickle
*.pickle.*
*.zip
*.zip.*
