# do not include certain dirs
czlll/
Qwen/
SWE-bench/
embeddings/
index_data/
playground/
plots/
train_index/
trash/
saved_models/
Salesforce/
test_index/
datasets/*
!datasets/all_failed_analysis.json
!datasets/classification.json
!datasets/instances.json
!datasets/swe-bench-lite-embed32-retrieval.json
!datasets/swe-bench-lite-rank32-retrieval.json
!datasets/swe-bench-lite-result-api-subset.json
!datasets/swe-bench-lite-result-Qwen3-30B-subset.json
!datasets/swe-bench-lite-result-xai-subset.json
!datasets/swe-bench-lite-subset-summary.json
swe-bench-lite/
tmp/

# do not include data files
*.log
*.log.*
*.json
log/
logs/
*.pickle
*.pickle.*
*.zip
*.zip.*
*.gv
*.gv.*
*.env
